@font-face {
  font-family: Lato;
  src: url('~/assets/fonts/latoregular.woff2');
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url('~/assets/fonts/latosemibold.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url('~/assets/fonts/latobold.woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url('~/assets/fonts/latoblack.woff2');
  font-weight: bold;
  font-style: normal;
}
